header {
    @include grid-row();

        .email-list {
            @include grid-column(4);
            text-decoration:none;
            display: none;
                
                @include breakpoint($large-screen) {
                    display: block;
                }
}

        a {
            color:black;
            font-weight:bold;
        }

        nav {
            @include grid-column(4);
            text-align:center;

                ul {
                    display:flex;
                    list-style:none;
                    justify-content:space-between;
                    padding:0px;

                    a {
                        text-decoration:none;
                        font-weight:bold;
                        color:$primary-font-color;
                    }
                }
        }

        .signing{
            @include grid-column(4);
            text-decoration:none;
            width:9%;
            display: none;

                        @include breakpoint($large-screen) {
                            display: block;
                         }
        }
}

#ice {
    @include grid-row();
        background-image:url(https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/_1300x510_crop_center-center_85/blackice_hero.jpg);
        max-width: 100%;
        background-image:cover;

        .icetext {
            @include grid-column(12);
            text-align:center;
            color:$over-text-color;
            z-index:5;
            font-size:.8em;
            padding: 150px 0;

                h3 {
                    border:2px solid $over-text-color;
                    margin:0 40%;
                    padding:10px 2px;
                    font-size:.7em;

                        a {
                            text-decoration:none;
                            color:$over-text-color;
                        }
                }
        }
}

.belowice {
    @include grid-row();

    #lunar {

        @include grid-column(8);
        background-image:url(https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/lunacy_AB.jpg);
        z-index:0;
        background-repeat:no-repeat;
        background-position:center;
        background-image:cover;
        height:400px;
        display:none;

            @include breakpoint($large-screen) {
                display: block;
            }

        .lunartext {
            text-align:center;
            color:$over-text-color;
            z-index:5;
            font-size:.8em;

                h2 {
                    font-size:1.2em;
                    }
                    
                h3 {
                    border:2px solid $over-text-color;
                    margin:0 35%;
                    padding:10px 2px;
                    font-size:.7em;

                        a {
                            text-decoration:none;
                            color:$over-text-color;
                        }
                }
        }
}

        #events {
            @include grid-column(12);

            @include breakpoint($large-screen) {
                @include grid-column(4);
                // display:block;

            background-image:url(https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/B_shop_deboss.jpg);
            z-index:0;
            background-repeat:no-repeat;
            background-image:cover;
            background-position:center;
            height:400px;
            }

            .eventstext {
                text-align:center;
                color:$over-text-color;
                z-index:5;
                font-size:.8em;

                    h1 {
                        font-weight:lighter;
                    }

                    h2 {
                        font-size:1.2em;
                    }

                    h3 {
                        border:2px solid $over-text-color;
                        margin:0 20%;
                        padding:10px 2px;
                        font-size:.7em;

                            a {
                                text-decoration:none;
                                color:$over-text-color;
                                }
                        }   
                }
            }
}

#pagebreak {
    @include grid-row();

        h1 {
            @include grid-column(12);
            text-align:center;
        }
        h2 {
            @include grid-column(12);
            text-align:center;
            color:$primary-font-color;
        }
}