@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color:lightgreen;
}

header {
    @include grid-row();

    h1 {
        @include grid-column(6);
    }
}

#hero {
    @include grid-row();
    background-color:lightsalmon;

    h2 {
        @include grid-column(12);
    }
}

#details {
    @include grid-row();
    background-color:pink;

    p {
        @include grid-column(12);
    }

    div {
        @include breakpoint(850px) {
            @include grid-column(6);
        }

        @include grid-column(12);
    }
}

#triple {
    @include grid-row();
    background-color:lightblue;

    div {
        @include grid-column(4);
    }
} 